/* src/components/QuickActions.module.css */
.container {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #e4e4e4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #111827;
}

/* Button styles */
.createGroupButton,
.addExpenseButton,
.settleUpButton {
  border-radius: 50px;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  text-align: center;
}

.createGroupButton {
  background-color: #4a8f7b;
  color: white;
}

.createGroupButton:hover {
  background-color: #4a8f7b;
}

.addExpenseButton {
  background-color: #545355;
  color: white;
}

.addExpenseButton:hover {
  background-color: #545355;
}

.settleUpButton {
  background-color: white;
  color: #4a8f7b;
  border: 1px solid #4a8f7b;
}

.settleUpButton:hover {
  background-color: #f9f5ff;
}
